<p>
  <strong>Due Date:</strong>
  <%= @note.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @note.text %>
</p>
<%= link_to 'Edit', edit_type_note_path(params[:type_id],@note) %> |
<%= link_to 'Back', type_notes_path(params[:type_id]) %>