<h1>List of Things to Do</h1>

<strong>Pile it on!</strong>
<%= link_to 'Another Type', new_type_path %>
<p>
 
<table>
  <% @types.each do |type| %>
    <tr> 
      <td><%= type.name %></td>
      <td><%= link_to 'Show', type_path(type) %></td>
      <td><%= link_to 'Mark Done', type_path(type),
              method: :delete,
              data: { confirm: 'I promise I\'m not lying. I\'m really done.' } %></td>
    </tr>
  <% end %>
</table>